@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Poppins:wght@100;400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color:white !important;
}
.nav-link{
    color:blue !important;
}
.navbar-brand{
  color:blue !important;
}
.navbar-nav{
  margin-left: auto !important;
}
.smallimg{
  height:200px;
  width:100% !important;
  border-radius: 5px !important;
}
h1{
  font-size: 20px !important;
}
.btn{
  background-color: blue !important;
  color : white !important;
  box-shadow: none;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.bigimg{
  height: 400px !important;
  border-radius: 5px !important;
}
input , select , .ant-picker{
  box-shadow:none !important;
  margin-top:10px;
  border:1px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height:35px !important;
}
h2{
  font-size:30px ;
  padding: 10px;
  font-weight: bold ;
  text-align: center;
}
.dropdown-toggle{
  border:1px solid yellow !important;
}
.fa-user{
  margin-right: 2px !important;
}
.ant-picker-input input{
  border : none !important;
}
p{
  font-size: 16px !important;
}
.bs1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.landing{
  background-color: white !important;
  height:calc(100vh - 80px);
}
.btn1{
  background-color: blue !important;
  color : white !important;
  margin-top: 20px !important;
  padding:5px;
  font: size 100px !important;
  border-color: black;
  border-radius: 5px;
}
